# Swiizyy & Nikolai
/src/ @swiizyy @nikolaischunk
/tsconfig.base.json @swiizyy @nikolaischunk
/tsconfig.eslint.json @swiizyy @nikolaischunk

# Just Nikolai
/LICENSE @nikolaischunk

# Just Swiizyy
/.github/ @swiizyy
/.gitignore @swiizyy
